* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    background-color: white;
    min-height: 99vh;
    width: 99vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 10px 0 0;
  }

  .externo {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: start;
  }

  .contenedorPrincipal {
    min-height: 95vh;
    width: 100vw;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding: 0;
  }
  
  .contenedorDatos {
    width: 51vw;
    min-height: 500px;
    background-color: #023361;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    border-radius: 20px;
    padding-bottom: 50px;
  }

  .titulo {
    margin: 40px 0 60px 0;
    font-family: 'Lobster', cursive,serif;
    color: white;
    font-size: calc(1em + 1vw);
  }

  .contenedorSubtitulos {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
  }
  
  .input {
    width: 51vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .subtitulo {
    margin-left: 20px;
    margin-right: 325px;
    font-family: 'Gelasio', serif;
    color: white;
    font-size: 25px;
  }

  .subtituloDos {
    font-family: 'Gelasio', serif;
    color: black;
    font-size: 35px;
  }
  
  .texto {
    width: 6vw;
    height: 50px;
    margin: 20px;
    padding: 0 5px 0 5px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    outline: 0;
  }
  .texto.texto2{
    width: 36vw;
    height: 50px;
  }

  .contenedorBotones {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
  }
  
  .boton {
    width: 14vw;
    height: 80px;
    font-size: 30px;
    border-radius: 10px;
    font-family: 'Roboto Mono', monospace;
    border: none;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #141414;
    color: #fff;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }

  .boton span {
	position: relative;
	z-index: 2;
	transition: .3s ease all;
}

.boton.calcular::after {
	content: "";
	width: 100%;
	position: absolute;
	z-index: 1;
	top: 0;
	left: calc(-100% - 80px);
	border-bottom: 80px solid #0085FF;
	border-right: 80px solid transparent;
	transition: .4s ease-in-out all;
}

.boton.limpiar::after {
	content: "";
	width: 100%;
	position: absolute;
	z-index: 1;
	top: 0;
	left: calc(-100% - 80px);
	border-bottom: 80px solid #FF0000;
	border-right: 80px solid transparent;
	transition: .4s ease-in-out all;
}

.boton.git span {
	transition: .4s ease-in-out all;
	position: absolute;
	left: 40%;
  display: flex;
}

.icono-dos {
  margin: 2px 2px 2px -6px;
}

.boton.git .icono {
	display: flex;
	align-items: center;
  justify-content: center;
	position: absolute;
	z-index: 2;
	left: -40px;
	transition: .3s ease-in-out all;
	opacity: 0;
}

.boton.git .flecha {
	color: #000;
	width: 35px;
	height: 35px;
}

.boton.git:hover .icono {
	left: calc(100% - 50px);
	opacity: 1;
}

.boton.efecto-linea {
	background: none;
	color: #000;
}

.boton.efecto-linea .linea {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.boton.efecto-linea rect {
	width: 100%;
	height: 100%;
	stroke: #000;
	stroke-width: 10px;
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	transition: .6s ease all;
}

.boton.efecto-linea:hover rect {
	stroke-dashoffset: 0;
}

.boton.git:hover span {
	left: 20px;
}

.boton.limpiar:hover::after {
	left: 0;
}

.boton.calcular:hover::after {
	left: 0;
}

.output {
    min-width: 41vw;
    min-height: 290px;
    background-color: white;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
}

.recorrido {
    font-size: 30px;
    margin: 10px;
    letter-spacing: 2px;
    font-family: 'Gelasio', serif;
    color: black;
  }
  
  .suma {
    font-size: 30px;
    margin: 10px;
    letter-spacing: 3px;
    font-family: 'Gelasio', serif;
    color: black;
  }

  .error {
    font-size: 30px;
    margin: 10px;
    letter-spacing: 3px;
    font-family: 'Gelasio', serif;
    color: red;
  }

  @media screen and (max-width: 1400px){
    .titulo{
    font-size: 2em;
    }
    .boton{
      font-size: 25px;
    }
    .subtitulo {
      font-size: 20px;
      margin-left: 20px;
      margin-right: 220px;
    }
    
    .subtituloDos {
      font-size: 30px;
    }
    svg {
      width: 25px;
      height: 26px;
    }
  }

  @media screen and (max-width: 1300px){
    .subtitulo {
        font-size: 20px;
        margin-left: 20px;
        margin-right: 210px;
      }
  }
  
  @media screen and (max-width: 1200px){
    .btn-git {
      color: transparent;
    }
  
    svg {
      width: 30px;
      height: 31px;
    }

    .subtitulo {
        font-size: 20px;
        margin-left: 20px;
        margin-right: 155px;
    }
  
    .texto.texto2 {
      width: 30vw;
    }
  }
  
  @media screen and (max-width: 900px){
    .btn-git {
      color: transparent;
    }
  
    svg {
      width: 30px;
      height: 31px;
    }
  
    .texto.texto2 {
      width: 25vw;
    }
  
    .titulo{
      font-size: 1em;
      }
      .boton{
        font-size: 20px;
      }
      .subtitulo {
        font-size: 18px;
        margin-left: 20px;
        margin-right: 105px;
      }
      
      .subtituloDos {
        font-size: 28px;
      }
  }